.about {
    padding: 100px 0;

    @include media-tablet {
        padding: 50px 0;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-mobile-sm {
            display: block;
        }
    }

    &__photo {
        position: relative;
        z-index: 10;

        img {
            width: 100%;
            max-width: 100%;
        }

        &::before {
            max-width: 100%;
            content: '';
            display: block;
            position: absolute;
            bottom: -40px;
            right: -70px;
            background-color: $current-color;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: -1;
            opacity: 0.8;

            @include media-tablet {
                display: none;
            }
        }

        @include media-tablet {
            margin-bottom: 30px;
        }

        @include media-mobile {
            margin-bottom: 90px;
        }


        @include media-mobile-sm {
            width: 40%;
            margin: auto;
        }
    }

    &__block-text {
        max-width: 720px;
        margin-left: 30px;

        @include media-mobile-sm {
            margin-left: 0;
        }
    }

    &__name {
        font-weight: bold;
        font-size: 40px;

        @include media-tablet {
            font-size: 32px;
        }

        @include media-mobile {
            font-size: 25px;
        }

        @include media-mobile-sm {
            font-size: 21px;
            display: none;
        }
    }

    &__description {
        margin-top: 18px;
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        color: $text-color;
        border-bottom: 1px solid #545454;
        padding-bottom: 20px;

        @include media-tablet {
            font-size: 19px;
        }

        @include media-mobile {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__block-social {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    &__social-item {
        font-size: 16px;
        margin-bottom: 20px;
        margin-right: 10%;

        @include media-tablet {
            margin-right: 5%;
        }

        @include media-mobile {
            margin-right: 0;
            width: 100%;
        }

    }

    &__social-item-title {
        font-weight: 700;
        display: inline-block;
        width: 100px;

        @include media-mobile-sm {
            font-size: 14px;
            width: 75px;
        }
    }

    &__social-item-link {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        transition: all 0.3s;

        &:hover:not(span) {
            color: $current-color;
        }

        @include media-mobile-sm {
            font-size: 14px;

        }
    }
}