.form {
    position: relative;
    width: 570px;
    padding: 40px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: auto;

    @include media-tablet {
        max-width: 470px;
        margin-top: 30px;
    }

    @include media-mobile {
        margin-right: auto;
    }

    @include media-mobile-sm {
        padding: 20px 7px 15px;
        width: 100%;
    }

    &__title {
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 28px;
        color: $text-color;

        @include media-mobile-sm {
            margin-bottom: 25px;
            font-size: 20px;
        }
    }

    &__item {
        margin-bottom: 18px;
    }

    input,
    textarea {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 15px;
        outline: none;
        border: 2px solid transparent;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        background: #393939;
        resize: none;
        color: $text-color;
        transition: all 0.3s;

        &:hover {
            background: #424242;
        }

        &:focus {
            background: #4e4e4e;
        }

        &:required:valid {
            border: 1px solid #2ac04b46;
            box-shadow: 0px 2px 7px #2ac04b50;

        }

        @include media-mobile-sm {
            padding: 10px;
            font-size: 13px;
        }

        &::placeholder {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
        }

        &.error {
            border: 1px solid $current-color;
            box-shadow: 0px 1px 5px $current-color;
        }

    }

    textarea {
        height: 250px;

        @include media-mobile-sm {
            height: 150px;
        }
    }

    label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    label.error {
        font-weight: 500;
        color: rgba(254, 96, 85, 0.705);
        font-size: 14px;
    }

    /*     &__modal {
        display: none;

        &.active {
            background-color: tomato;
            position: absolute;
            display: block;
            width: 50%;
            height: 50%;
            @include сenter-xy;
        }
    }
 */

    &__success {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background: #1a8d37;
    }

    .button {
        margin-top: 18px;
    }


}