.header {
    position: fixed;
    width: 100%;
    transition: all 0.4s;
    background-color: $bg-color;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
    z-index: 100;

    &__container {
        height: 100%;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main-nav {
        margin-right: 100px;
    }

    &.sticky {
        padding: 0;
        height: 55px;
    }
}