.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s;
    background-color: $bg-color;
    height: 80px;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    @include media-tablet {
        height: 60px;
    }

    @include media-mobile-sm {
        height: 50px;
    }

    &__container {
        height: 100%;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.sticky {
        padding: 0;
        height: 45px;
    }
}