.header {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main-nav {
        margin-right: 100px;
    }

}