.promo {
    overflow: hidden;
    height: 100vh;

    @media (max-width: 1199px) {
        padding-top: 120px;
        height: auto;
    }

    @include media-mobile {
        padding-top: 90px;
    }

    &__img {
        margin-right: -8%;

        @include media-desktop {
            margin-right: -2%;
        }

        @include media-mobile-sm {
            margin-top: 15px;
        }


        /*    flex: none;
        width: 50%;

          @media (max-width:470px) {
            width: 90%;
            margin-top: 20px;
        } */

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    &__container {
        height: 100%;
        display: flex;
        align-items: center;

        @include media-mobile-sm {
            flex-direction: column;
        }

    }

    &__text {
        margin-right: 30px;
        flex: none;
        max-width: 500px;

        @include media-mobile-sm {
            margin-right: 0;
        }

        /* 
        @media (max-width:1100px) {
            width: 430px;
        }

        @media (max-width:890px) {
            width: 330px;
        }

        @media (max-width:680px) {
            width: 250px;
            margin: 0;
        }

        @media (max-width:470px) {
            width: 90%;
        } */



    }

    &__title {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;

        @include media-desktop {
            font-size: 32px;
        }

        @include media-tablet {
            font-size: 24px;
        }

        @include media-mobile {
            font-size: 22px;
        }

        /* 
        @media (max-width:1100px) {
            font-size: 32px;
        }

        @media (max-width:890px) {
            font-size: 26px;
        }

        @media (max-width:680px) {
            font-size: 21px;
        }

        @media (max-width:470px) {
            font-size: 32px;
        } */

    }

    &__title-orange {
        color: $current-color;
        font-weight: 700;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        color: $text-color;
        line-height: 22px;


        @include media-desktop {
            font-size: 16px;
        }

        @include media-tablet {
            font-size: 14px;
            margin-top: 12px;
        }


        @include media-mobile {
            font-size: 13px;
        }

        /*         @media (max-width:1100px) {
            font-size: 17px;
        }

        @media (max-width:890px) {
            font-size: 15px;
        }

        @media (max-width:680px) {
            font-size: 11px;
            line-height: 16px;
            margin-top: 10px;
        }

        @media (max-width:470px) {
            font-size: 17px;
        } */



        span {
            font-weight: 700;
        }
    }
}