.promo {
    overflow: hidden;
    padding-top: 90px;
    height: 100vh;

    @include media-laptop {
        height: auto;
        padding-top: 120px;
    }

    &__img {

        margin-right: -100px;

        @include media-mobile-big {
            margin: 0;
        }

        img {
            max-width: 100%;
            width: 100%;

            /*   @include media-laptop {
                width: 90%;
            } */
        }
    }

    /*    background: url('../img/promo-bg.svg') right 15% center no-repeat; */

    &__container {
        height: 100%;
        display: flex;
        align-items: center;

        @include media-mobile-big {
            display: block;
        }
    }

    &__text {
        max-width: 550px;
    }

    &__title {
        color: #fff;
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;

        @include media-desktop {
            font-size: 40px;
        }

        @include media-laptop {
            font-size: 32px;
        }

        @include media-tablet {
            font-size: 28px;
        }


    }

    &__title-orange {
        color: $current-color;
        font-weight: 700;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        color: $text-color;
        line-height: 22px;

        @include media-laptop {
            margin-top: 12px;
            font-size: 16px;
        }

        @include media-tablet {
            font-size: 15px
        }



        span {
            font-weight: 700;
        }
    }
}