.services {
    padding: 80px 0;

    @include media-tablet {
        padding: 50px 0;
    }

    @include media-mobile-sm {
        padding: 20px 0;
    }
}

.services__wrapper {
    margin-top: 100px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;

    @include media-mobile-sm {
        margin-top: 60px;
        padding: 0;
    }
}

.services-item {
    margin-bottom: 30px;
    position: relative;
    max-width: 480px;
    min-height: 200px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 10px;
    background-color: $services-color;
    border-right: 11px solid $current-color;
    box-shadow: 15px 10px 20px rgba(35, 35, 35, 0.6);
    transition: all 0.3s;

    &:nth-child(2n) {
        align-self: flex-end;
    }

    &:hover {
        transform: translateY(-5px);
    }

    @include media-mobile-sm {
        min-height: auto;
        padding: 25px 15px;
        max-width: 400px;
    }
}

.services-item__title {
    font-weight: 500;
    font-size: 23px;

    @include media-mobile-sm {
        font-size: 18px;
    }
}

.services-item__description {
    margin-top: 20px;
    max-width: 280px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: $text-color;

    @include media-mobile-sm {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }
}

.services-item__number {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-weight: 700;
    font-size: 96px;
    color: rgba(104, 104, 104, 0.5);

    @include media-mobile-sm {
        font-size: 50px;
        right: 3px;
    }
}