.title {
    color: #fff;
    position: relative;
    font-size: 40px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: -10px;
        right: 0;
        width: 50px;
        height: 8px;
        background-color: $current-color;
        border-radius: 7px;

        @include media-mobile-sm {
            width: 40px;
            height: 6px;
            bottom: -8px;
        }
    }

    @include media-desktop {
        font-size: 32px;
    }

    @include media-mobile {
        font-size: 28px;
    }

    @include media-mobile-sm {
        font-size: 24px;
        font-weight: 700;
    }

}