.title {
    color: #fff;
    position: relative;
    font-size: 40px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: -10px;
        right: 0;
        width: 50px;
        height: 8px;
        background-color: $current-color;
        border-radius: 7px;

    }
}