body {
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

    &.lock {
        overflow: hidden;
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.promo__text.animate__animated.animate__bounceInLeft {
    --animate-duration: 1s;
    --animate-delay: 0.9s;
}

.promo__img.animate__animated.animate__fadeIn {
    --animate-duration: 2s;

}

.about__block-text.animate__fadeIn {
    --animate-duration: 1s;
}