@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//========== base ==========
@import 'base/variables';
@import 'base/_mixins';
@import 'base/normalize';
@import 'base/container';
@import 'base/fonts';
@import 'base/global';
@import 'base/animated';
//========== Components ==========
@import 'components/header';
@import 'components/logo';
@import 'components/navigation';
@import 'components/promo';
@import 'components/title';
@import 'components/about';
@import 'components/skills';
@import 'components/services';
@import 'components/portfolio';
//@import 'components/work';
@import 'components/slider';





@import 'components/footer';